.password-strength-container {
    margin-top: 0.5rem;
    text-align: right;
}

.password-strength-container p {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    color: #4b5563;
}

.password-strength-container .progress-bar-container {
    height: 0.375rem;
}

.password-strength-container .progress-bar {
    height: 0.375rem;
    background: none; }